{{>partials/header}}
    <h3>titulo</h3>

    {{showWelcome}}
        olá, {{nome}}, seja bem vindo!
    

    lista
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
{{>partials/footer}}